<footer>
  <div class="container-fluid p-3 text-light">
    <div class="text-center">
      <div class="container text-center">
        <a href="https://www.linkedin.com/in/rodrigo-romano22/" target="_blank">
          <i class="bi bi-linkedin mx-1 icon-footer"></i>
        </a>
        <a href="https://github.com/RodrigoProgram22" target="_blank">
          <i class="bi bi-github mx-1 icon-footer"></i>
        </a>
        <a href="https://portfolio-rodri.web.app/" target="_blank">
          <i class="bi bi-file-earmark-code mx-1 icon-footer"></i>
        </a>
      </div>
    </div>
    <div class="container text-center">
      Desarrollado por
      <a
        href="https://www.linkedin.com/in/rodrigo-romano22/"
        class="fw-bold icon-footer"
        >Romano Rodrigo</a
      >
      .
    </div>
  </div>
</footer>
