<div class="d-flex justify-content-center align-items-center vh-100">
  <div class="container my-5 card-1 mx-auto py-2">
    <div class="circle"></div>
    <div class="circle"></div>
    <div class="row">
      <div class="col-4">
        <div class="card-inner text-center">
          <div class="card-body">
            <h4 class="card-title text-center text-light">Calculadora</h4>
            <input
              type="text"
              class="form-control mb-3"
              placeholder="0"
              disabled
            />
            <div class="row">
              <div class="col-3">
                <button class="btn btn-secondary btn-block">7</button>
              </div>
              <div class="col-3">
                <button class="btn btn-secondary btn-block">8</button>
              </div>
              <div class="col-3">
                <button class="btn btn-secondary btn-block">9</button>
              </div>
              <div class="col-3">
                <button class="btn btn-primary btn-block">+</button>
              </div>
            </div>
            <div class="row">
              <div class="col-3">
                <button class="btn btn-secondary btn-block">4</button>
              </div>
              <div class="col-3">
                <button class="btn btn-secondary btn-block">5</button>
              </div>
              <div class="col-3">
                <button class="btn btn-secondary btn-block">6</button>
              </div>
              <div class="col-3">
                <button class="btn btn-primary btn-block">-</button>
              </div>
            </div>
            <div class="row">
              <div class="col-3">
                <button class="btn btn-secondary btn-block">1</button>
              </div>
              <div class="col-3">
                <button class="btn btn-secondary btn-block">2</button>
              </div>
              <div class="col-3">
                <button class="btn btn-secondary btn-block">3</button>
              </div>
              <div class="col-3">
                <button class="btn btn-primary btn-block">*</button>
              </div>
            </div>
            <div class="row">
              <div class="col-3">
                <button class="btn btn-secondary btn-block">0</button>
              </div>
              <div class="col-3">
                <button class="btn btn-secondary btn-block">.</button>
              </div>
              <div class="col-3">
                <button class="btn btn-primary btn-block">/</button>
              </div>
              <div class="col-3">
                <button class="btn btn-success btn-block">=</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      </div>
  </div>
</div>
