<div class="d-flex justify-content-center align-items-center vh-100">
  <div class="container card-1 mx-auto">
    <div class="circle"></div>
    <div class="circle"></div>
    <div class="row">
      <div class="col-4">
        <div class="card-inner text-center">
          <div class="card-body">
            <header>
              <h4 class="card-title text-center text-light fuente1 my-2">
                Calculadora
              </h4>
            </header>
            <input
              id="calculadora"
              type="text"
              class="form-control mb-3 input-calcu"
              value="0"
              disabled
            />
            <div class="row my-1">
              <div class="col-3">
                <button class="btn btn-secondary btn-block">7</button>
              </div>
              <div class="col-3">
                <button class="btn btn-secondary btn-block">8</button>
              </div>
              <div class="col-3">
                <button class="btn btn-secondary btn-block">9</button>
              </div>
              <div class="col-3">
                <button class="btn btn-primary btn-block">+</button>
              </div>
            </div>
            <div class="row my-1">
              <div class="col-3">
                <button class="btn btn-secondary btn-block">4</button>
              </div>
              <div class="col-3">
                <button class="btn btn-secondary btn-block">5</button>
              </div>
              <div class="col-3">
                <button class="btn btn-secondary btn-block">6</button>
              </div>
              <div class="col-3">
                <button class="btn btn-primary btn-block">-</button>
              </div>
            </div>
            <div class="row my-1">
              <div class="col-3">
                <button class="btn btn-secondary btn-block">1</button>
              </div>
              <div class="col-3">
                <button class="btn btn-secondary btn-block">2</button>
              </div>
              <div class="col-3">
                <button class="btn btn-secondary btn-block">3</button>
              </div>
              <div class="col-3">
                <button class="btn btn-primary btn-block">x</button>
              </div>
            </div>
            <div class="row my-1">
              <div class="col-3">
                <button class="btn btn-secondary btn-block">CE</button>
              </div>
              <div class="col-3">
                <button class="btn btn-secondary btn-block">0</button>
              </div>
              <div class="col-3">
                <button class="btn btn-primary btn-block">/</button>
              </div>
              <div class="col-3">
                <button class="btn btn-success btn-block">=</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
