<div class="d-flex justify-content-center align-items-center my-5">
  <div class="container card-1 mx-auto">
    <div class="circle"></div>
    <div class="circle"></div>
    <div class="row">
      <div class="col-4">
        <div class="card-inner text-center">
          <div class="card-body">
            <header>
              <h1 class="card-title text-center fuente1 my-2">Calculadora</h1>
            </header>
            <input
              id="calculadora"
              type="text"
              class="form-control mb-3 input-calcu"
              placeholder="0"
              [value]="this.valorMostrar"
              disabled
            />
            <div class="row my-1">
              <div class="col-3">
                <button class="btn btn-primary btn-block" (click)="reset()">
                  CE
                </button>
              </div>
              <div class="col-3">
                <button
                  class="btn btn-primary btn-block"
                  (click)="borrarUltimoNum()"
                >
                  <i class="bi bi-backspace"></i>
                </button>
              </div>
              <div class="col-6 delete">
                <button class="btn btn-primary btn-block" (click)="dolar()">
                  DOLAR
                </button>
              </div>
            </div>
            <div class="row my-1">
              <div class="col-3">
                <button class="btn btn-secondary btn-block" (click)="sumNum(7)">
                  7
                </button>
              </div>
              <div class="col-3">
                <button class="btn btn-secondary btn-block" (click)="sumNum(8)">
                  8
                </button>
              </div>
              <div class="col-3">
                <button class="btn btn-secondary btn-block" (click)="sumNum(9)">
                  9
                </button>
              </div>
              <div class="col-3">
                <button class="btn btn-primary btn-block" (click)="suma()">
                  +
                </button>
              </div>
            </div>
            <div class="row my-1">
              <div class="col-3">
                <button class="btn btn-secondary btn-block" (click)="sumNum(4)">
                  4
                </button>
              </div>
              <div class="col-3">
                <button class="btn btn-secondary btn-block" (click)="sumNum(5)">
                  5
                </button>
              </div>
              <div class="col-3">
                <button class="btn btn-secondary btn-block" (click)="sumNum(6)">
                  6
                </button>
              </div>
              <div class="col-3">
                <button class="btn btn-primary btn-block" (click)="resta()">
                  -
                </button>
              </div>
            </div>
            <div class="row my-1">
              <div class="col-3">
                <button class="btn btn-secondary btn-block" (click)="sumNum(1)">
                  1
                </button>
              </div>
              <div class="col-3">
                <button class="btn btn-secondary btn-block" (click)="sumNum(2)">
                  2
                </button>
              </div>
              <div class="col-3">
                <button class="btn btn-secondary btn-block" (click)="sumNum(3)">
                  3
                </button>
              </div>
              <div class="col-3">
                <button class="btn btn-primary btn-block" (click)="multi()">
                  x
                </button>
              </div>
            </div>
            <div class="row my-1">
              <div class="col-3">
                <button class="btn btn-primary btn-block" (click)="sumNum('.')">
                  .
                </button>
              </div>
              <div class="col-3">
                <button class="btn btn-secondary btn-block" (click)="sumNum(0)">
                  0
                </button>
              </div>
              <div class="col-3">
                <button class="btn btn-primary btn-block" (click)="divid()">
                  ÷
                </button>
              </div>
              <div class="col-3">
                <button class="btn btn-primary btn-block" (click)="resultado()">
                  =
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="dolar-container text-center mb-4">
  <div class="dolar-card px-4 py-2">
    <span class="dolar-label">Dólar Blue: </span>
    <span class="dolar-value">${{ valorDolar | number: "1.2-2" }}</span>
  </div>
</div>

<app-footer></app-footer>
